html
head
  title Person
  body
    form(action="/", method="POST")
      div
        label(for="name") Name:
        input(name="name")
      br
      div
        label(for="age") Age:
        input(name="age")
      br
      div
        label(for="nationality") nationality:
        input(name="nationality")
      br
      button(type="submit") Create new person
